{% extends "store/base.html" %}
{% block label %}
    <a class="btn btn-danger" href="/store/add_goods"/>添加商品</a>
{% endblock %}
{% block style %}
    <style>
        a{
            text-decoration: none;
        }
    </style>
{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>商品名称</th>
            <th>商品价格</th>
            <th>商品数量</th>
            <th>出厂日期</th>
            <th>保质期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for goods in page %}
            <tr>
                <td><a href="/store/descript_goods/{{ goods.id }}/">{{ goods.goods_name }}</a></td>
                <td>{{ goods.goods_price }}</td>
                <td>{{ goods.goods_number }}</td>
                <td>{{ goods.goods_date }}</td>
                <td>{{ goods.goods_safeDate }}</td>
                <td>
                    <a href="#" class="btn btn-danger" name="updown">下架</a>
                    <a href="/store/destroy/?goods_id={{ goods.id }}" class="btn btn-primary" name="destroy">销毁</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <div class="dataTables_paginate paging-simple_numbers">
        <ul class="pagination">
            {% for p in page_range %}
                <li class="paginate_button page-item">
                    <a class="page-link" href="?keywords={{ keywords }}&page_num={{ p }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}